/* form > *:not(:first-child) {
    margin-top: var(--m-spacing);} */

input[type="text"], textarea, label, #create-task-inner h2, #create-task-inner h3 {
    display: block;
}

input[type="text"], textarea, #create-task-inner h2 {
  margin-bottom: var(--m-spacing);
}

#create-task-inner h2 {
  text-align: center;
}

#create-task-inner {
    align-content: center;
    z-index: 100;
    display: none;
    position: absolute;
    height: 50%;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); /* This centers the pop-up despite the absolute positioning! */
    padding: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 25px;
  }

  input[type="text"], textarea, label {
    width: 100%;
  }

  input[type=text]:focus, textarea:focus {
    background-color:  var(--input-field-grey-text);  
  }

  input[type="text"], textarea {
    background-color: var(--input-field-grey);
    border: none;
    padding: 1em;
    border-radius: 5px;
    outline: none;
  }

  .buttons-container {
    text-align: center;
  }