#tasks-page{
    max-width: 60rem;   
}

#tasks-page .live-date {
    font-size: 1em;
    font-weight: 400;
}

.tasks-title-container {   
    text-align: center;
}

.toggle-container {
    justify-content: center;
}

.toggle-container p{
    color: var(--darker-blue);
}

.toggle-btn {
   margin-left: var( --xs-spacing);  
   justify-content: center;
   align-items: center;
}

#switch {
	height: 0;
	width: 0;
	visibility: hidden;
}

#toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: var(--darker-blue);
	display: block;
	border-radius: 100px;
	position: relative;
}

#toggle-label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: 15px;
	height: 15px;
	background: var(--pure-white);
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + #toggle-label {
	background: var(--darker-blue);
}

#switch:checked + #toggle-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.item-list-container{
    max-width: 35rem;
    margin-top: var( --m-spacing);
}

.item-list {
    grid-template-columns: 0.4fr 3.5fr 1fr; 
}

.outstanding-icon {
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.user-controls{
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
}


@media (min-width: 300px) {

.item-list {
    grid-template-columns: 0.5fr 2fr 1fr; 
}

.list-txt p {
    margin: 0;
}
  
  }

  @media (min-width: 600px) {
  
  }

  @media (min-width: 768px) {
   
  }



